---
// https://www.howtocode.io/posts/astro/static-and-dynamic-routes

export async function getStaticPaths() {
  const response = await fetch("kVVh2qqcVVeo6yH5OUuY55jPP8y5lwwOlvbdzPz2s");
  const { data } = await response.json();

  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
---

<h2>{post.title}</h2>
<p>{post.body}</p>
<img src={post.image} alt="" />
