---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";

import Breadcrumb from "../../components/modules/Breadcrumb.astro";
import PlacesSection from "../../components/layout/PlacesSection.astro";
import imgBlokhus from "../../assets/blokhusStrand.webp";
import imgStrandvej from "../../assets/strandvejenBlokhus.jpg";
---

<Layout title="Artikel: Blokhus">
  <Breadcrumb />
  <section class="blokhus-hero-section">
    <article>
      <h1>Hold dig kølig i solen</h1>
      <h1>Dyp tæerne ved Blokhus</h1>
      <img src={imgBlokhus.src} alt="" />
    </article>
    <article class="blokhus-article-width">
      <h2>Blokhus - strand, stemning og meget at lave</h2>
      <p>
        Når sommeren rammer Danmark, er Blokhus et oplagt sted at besøge for at
        nyde både hav, natur og afslapning. Den brede, vide strand er en af de
        mest populære i Danmark og indbyder til både badning, solbadning og
        hyggelige gåture langs vandet. Det friske hav er det perfekte sted til
        at blive hurtigt kølet ned, dyppe tæerne eller tage en fuld svømmetur.
      </p>
      <p>
        Byen byder på en skøn sommerstemning med en god blanding af caféer,
        isboder, restauranter og små butikker. Her er der plads til både ro og
        aktivitet og ikke mindst til at nyde det bedste af dansk sommer ved
        havet.
      </p>
    </article>
  </section>
  <section class="blokhus-articles-section">
    <h2>Læs mere</h2>
    <div>
      <a href="#">
        <article>
          <h3>Ude I Det Fri I Hestehave Skov</h3>
          <p>Gå en tur i sandet, bad i bølgerne eller se...</p>
        </article>
      </a>
      <a href="#">
        <article>
          <h3>Oplev natur og strand ved Væggerløse</h3>
          <p>Danmarks bedste strande. Ud over den ideelle beligg...</p>
        </article>
      </a>
      <a href="#">
        <article>
          <h3>Glamping hos Naturlig på Korsgaarden</h3>
          <p>Blot halvanden times kørsel fra København, finder du...</p>
        </article>
      </a>
    </div>
  </section>
  <section class="blokhus-body-section blokhus-article-width">
    <h2>Hvad kan man lave i Blokhus?</h2>
    <img src={imgStrandvej.src} alt="" />
    <p>
      Blokhus byder på meget mere end strand og hav. For de eventyrlige er der
      mulighed for at cykle eller vandre i Blokhus Klitplantage, og i Gateway
      Blokhus finder man både legepladser, grillpladser og udfordrende
      mountainbikespor. Er man mere til kunst og oplevelser, er der
      Skulpturparken, hvor store sandskulpturer og skiftende kunstudstillinger
      imponerer både børn og voksne. Derudover byder området på hyggelige
      arrangementer, markedsdage og live-musik hen over sommeren. Og når dagen
      er ved at være slut, er der ikke noget bedre end at finde et godt sted at
      spise og nyde udsigten til solen, der går ned over havet. En afslutning,
      der gør en dag i Blokhus helt perfekt.
    </p>
  </section>
  <PlacesSection />
</Layout>

<style>
  h1,
  h2,
  p {
    color: var(--primary-700);
  }

  h2 {
    margin-bottom: 15px;
    font-size: var(--font-size-500);
    font-weight: var(--text-500);
  }

  p {
    font-size: var(--font-size-400);
    font-weight: var(--text-500);
    margin-bottom: 10px;
  }

  .blokhus-hero-section {
    flex-direction: column;
    h1 {
      text-align: center;
      font-size: var(--font-size-600);
      letter-spacing: 1.2px;
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: var(--round-25);
      margin-bottom: 25px;
    }
  }

  .blokhus-hero-section h1:nth-child(2) {
    margin-bottom: 20px;
  }

  .blokhus-articles-section {
    h3 {
      position: absolute;
      bottom: 80px;
      left: 15px;
      font-family: "Playfair Display", serif;
      font-size: var(--font-size-500);
    }

    p {
      position: absolute;
      top: 130px;
      left: 15px;
      max-width: 370px;
    }

    a,
    p {
      color: white;
      text-decoration: none;
    }

    article {
      position: relative;
      border-radius: var(--round-25);
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 15px;
      background-position: center;
    }
  }

  .blokhus-articles-section > div > a:nth-child(1) > article {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.76),
        rgba(0, 0, 0, 0)
      ),
      url("/hestehaveSkov.jpg");
  }
  .blokhus-articles-section > div > a:nth-child(2) > article {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.76),
        rgba(0, 0, 0, 0)
      ),
      url("/vaeggerloseStrand.jpg");
  }
  .blokhus-articles-section > div > a:nth-child(3) > article {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.76),
        rgba(0, 0, 0, 0)
      ),
      url("/glamping.jpg");
  }

  .blokhus-body-section {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: var(--round-25);
      margin-bottom: 15px;
    }
  }

  /* ------MEDIA QUERIES------ */
  @media screen and (min-width: 700px) {
    h2 {
      margin-bottom: 15px;
      font-size: var(--font-size-600);
    }

    p {
      font-size: var(--font-size-400);
    }

    .blokhus-hero-section {
      h1 {
        /* font-size: var(--font-size-700); */
        font-size: 3.5rem;
      }
    }
    .blokhus-article-width {
      max-width: 1000px;
      margin: 0 auto;
    }

    .blokhus-articles-section {
      article {
        position: relative;
      }

      div {
        display: flex;
        gap: 20px;
      }
      a {
        overflow: hidden;
        text-decoration: none;
        flex: 1 1 30%;
      }

      h3 {
        max-width: 300px;
        font-size: var(--font-size-600);
        font-weight: var(--text-500);
        top: 100px;
      }

      p {
        top: 105px;
      }
    }

    .blokhus-articles-section article h3,
    .blokhus-articles-section article p {
      position: relative;
      color: white;
    }

    .blokhus-hero-section h1:nth-child(2) {
      margin-bottom: 40px;
    }

    .blokhus-hero-section {
      img {
        margin-bottom: 40px;
        height: 350px;
      }
    }
  }
</style>
