---
// https://docs.astro-breadcrumbs.kasimir.dev/start-here/getting-started/
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customHome = [
  {
    index: 0,
    text: "Hjem",
    href: "/cases/opdagdanmark-v1/",
  },
];
---

<div class="breadcrumb">
  <Breadcrumbs customizeLinks={customHome} />
</div>

<style>
  .breadcrumb {
    margin-top: -4rem;
    padding: 0 1rem;
  }
</style>
