@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.nav-mobile-btn {
  border: 1px solid var(--primary-500-t2);
  background: none;
  aspect-ratio: 1 / 1;

  justify-content: center;
  align-items: center;
  padding: 0.375rem;
  width: fit-content;
  height: fit-content;

  border-radius: var(--round-pill);
}

:root {
  /* -----Colors----- */
  /* transparens intervaller: */
  /* 99-70% - t1 */
  /* 69-40% - t2 */
  /* 39-15% - t3 */
  /* 14-0.xx% - t4 */
  /* -----      ----- */
  --primary-700: hsl(207, 52%, 24%);
  --primary-600: hsl(207, 26%, 41%);
  --primary-500: hsl(207, 52%, 44%);
  --primary-500-t2: hsl(207, 52%, 44%, 60%);
  --primary-400: hsl(207, 43%, 84%);
  --primary-400-t2: hsl(207, 43%, 84%, 60%);
  --primary-400-t3: hsl(207, 43%, 84%, 30%);
  --primary-400-t4: hsl(207, 43%, 84%, 15%);
  --primary-100: hsl(206, 47%, 97%);
  --primary-100-t1: hsla(206, 47%, 94%, 90%);

  --secondary-500: hsl(36, 90%, 44%);
  --secondary-500-t1: hsla(36, 90%, 44%, 80%);
  --secondary-400: hsl(40, 68%, 54%);
  --secondary-400-t3: hsl(40, 68%, 54%, 30%);
  --secondary-300: hsl(40, 68%, 70%);
  --secondary-200: hsl(43, 96%, 90%);
  --secondary-200-t2: hsl(43, 96%, 90%, 50%);

  --accent-500: hsl(0, 72%, 54%);
  --accent-400: hsl(0, 100%, 76%);
  --accent-100: hsl(0, 73%, 96%);

  --utility-500: hsl(104, 35%, 43%);
  --utility-400: hsl(99, 51%, 68%);
  --utility-300: hsl(95, 40%, 94%);
  --utility-gradient-blue-right: linear-gradient(
    to right,
    hsla(226, 18%, 14%, 75%),
    hsla(207, 73%, 20%, 8%)
  );
  --utility-gradient-blue-top: linear-gradient(
    to top,
    hsla(226, 18%, 14%, 75%),
    hsla(207, 73%, 20%, 8%)
  );
  --utility-gradient-blue-left: linear-gradient(
    to left,
    hsla(226, 18%, 14%, 75%),
    hsla(207, 73%, 20%, 8%)
  );

  --greyscale-900: hsl(226, 18%, 14%);
  --greyscale-700: hsl(225, 14%, 28%);
  --greyscale-700-t1: hsl(225, 14%, 28%, 80%);
  --greyscale-500: hsl(226, 11%, 38%);
  --greyscale-200: hsl(228, 11%, 73%);
  --greyscale-100: hsl(218, 100%, 99%);
  --greyscale-100-t2: hsl(42, 100%, 98%, 50%);
  --greyscale-100-t3: hsl(42, 100%, 98%, 25%);

  /* -----Sizes-----*/
  /* Roundings */
  --round: 50%;
  --round-min: 0.5rem;
  --round-general: 0.75rem;
  --round-25: 1rem;
  --round-50: 3.125rem;
  --round-pill: 50rem;

  /* Text */
  --font-size-700: 3rem;
  --font-size-600: 2rem;
  --font-size-600: 1.5rem;
  --font-size-500: 1.125rem;
  --font-size-400: 0.875rem;
  --font-size-300: 0.75rem;

  /* Font Weight */
  --text-900: 900;
  --text-800: 800;
  --text-700: 700;
  --text-600: 600;
  --text-500: 500;
  --text-400: 400;
  --text-300: 300;
  --text-200: 200;
  --text-100: 100;

  /* dropshadow */
  --shadow-general:rgba(0, 0, 0, 0.1) 0px 4px 12px;

  /* Astro Breadcrumb */
  --color-link-breadcrumbs: var(--greyscale-900);
  --spacing-vertical-separator-breadcrumbs: 30px;
}

.c-breadcrumbs__crumbs:where(.has-no-separators) {
  column-gap: 0rem !important;
}

.c-breadcrumbs__link {
  color: var(--color-link-breadcrumbs);
  text-transform: capitalize;
}

a.c-breadcrumbs__link.is-current {
  font-weight: 800;
}

.c-breadcrumbs__crumb {
  margin-bottom: 20px;
}

.c-breadcrumbs__crumb::after {
  content: "/";
  margin: 0 1rem;
  color: var(--greyscale-900);
}

.c-breadcrumbs__crumb:last-child::after {
  content: "";
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h3,
h4,
h5,
h6 {
  font-family: "Athiti", sans-serif;
}

p,
a {
  font-family: "Krub", sans-serif;
}
