*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.flex {
  display: flex;
}

:root {
  /* -----Colors----- */
  /* transparens intervaller: */
  /* 99-70% - t1 */
  /* 69-40% - t2 */
  /* 39-15% - t3 */
  /* 14-0.xx% - t4 */
  /* -----      ----- */
  --primary-700: hsl(207, 52%, 24%);
  --primary-600: hsl(207, 26%, 41%);
  --primary-500: hsl(207, 52%, 44%);
  --primary-500-t2: hsl(207, 52%, 44%, 60%);
  --primary-400: hsl(207, 43%, 84%);
  --primary-400-t2: hsl(207, 52%, 44%, 60%);
  --primary-400-t4: hsl(207, 52%, 44%, 10%);

  --secondary-600: hsl(36, 90%, 44%);
  --secondary-500: hsl(40, 68%, 54%);
  --secondary-500-t3: hsl(40, 68%, 54%, 30%);
  --secondary-400: hsl(43, 96%, 90%);
  --secondary-400-t2: hsl(43, 96%, 90%, 50%);

  --accent-500: hsl(0, 72%, 54%);
  --accent-400: hsl(0, 100%, 76%);
  --accent-300: hsl(0, 73%, 96%);

  --utility-500: hsl(104, 35%, 43%);
  --utility-400: hsl(99, 51%, 68%);
  --utility-300: hsl(95, 40%, 94%);

  --greyscale-500: hsl(226, 18%, 14%);
  --greyscale-400: hsl(225, 14%, 28%);
  --greyscale-400-t1: hsl(225, 14%, 28%, 80%);
  --greyscale-300: hsl(226, 11%, 38%);
  --greyscale-200: hsl(228, 11%, 73%);
  --greyscale-100: hsl(42, 100%, 98%);
  --greyscale-100-t3: hsl(42, 100%, 98%, 25%);

  /* -----Sizes-----*/
  /* Roundings */
  --round: 50%;
  --round-min: 0.5rem;
  --round-general: 0.75rem;
  --round-25: 1rem;
  --round-50: 3.125rem;
  --round-pill: 50rem;

  /* Text */
  --font-size-700: 3rem;
  --font-size-600: 2rem;
  --font-size-600: 1.5rem;
  --font-size-500: 1.125rem;
  --font-size-400: 0.875rem;
  --font-size-300: 0.75rem;

  /* Font Weight */
  --text-900: 900;
  --text-800: 800;
  --text-700: 700;
  --text-600: 600;
  --text-500: 500;
  --text-400: 400;
  --text-300: 300;
  --text-200: 200;
  --text-100: 100;
}
