:root {
  --primary-700-t1: hsl(207, 52%, 24%);
  --primary-600-t1: hsl(207, 26%, 41%);
  --primary-500-t1: hsl(207, 52%, 44%);
  --primary-500-t2: hsl(207, 52%, 44%, 60%);
  --primary-400-t1: hsl(207, 43%, 84%);
  --primary-400-t2: hsl(207, 52%, 44%, 60%);

  --secondary

  --accent
}
