---

---  

<section class="danmarksBedste">
    <h2>Danmarks Bedste</h2>
    <a href="#">Se alle afstemninger</a>
    <p>
      Vi hylder Danmarks flittige aktører. Vær med i kåringen af Danmarks
      Bedste. Når du stemmer, deltager du samtidig i en konkurrence om en
      præmie. Se de aktuelle afstemninger herunder og vær med til at løfte dine
      favoritter frem.
    </p>
  </section>