---
import Phone from "phosphor-astro/Phone.astro";
import Envelope from "phosphor-astro/Envelope.astro";

import image from "../../assets/opdagDanmarkLogo.png";
---

<footer>
  <section class="foot-top-section">
    <article>
      <img id="foot-logo" src={image.src} alt="" />
      <div>
        <div class="foot-adress">
          <p>OpdagDanmark ApS</p>
          <p>Østre Alle 102, 9000 Aalborg</p>
        </div>
        <p>CVR 40523162</p>
      </div>
    </article>
    <article class="foot-links-container">
      <div>
        <h2>Aktuelt</h2>
        <a href="">Vandreruter</a>
        <a href="">Cykelruter</a>
      </div>
      <div>
        <h2>Guides</h2>
        <a href="">Nordjylland</a>
        <a href="">Midtjylland</a>
        <a href="">Sydjylland</a>
        <a href="">Fyn</a>
        <a href="">Sjælland</a>
        <a href="">Bornholm</a>
      </div>
      <div>
        <h2>For virksomheder</h2>
        <a href="">Få din egen shop</a>
        <a href="">KlubDanmark</a>
        <a href="">Tilføj begivenhed</a>
      </div>
      <div class="foot-contact">
        <h2>Kontakt os</h2>
        <div>
          <p>Mandag - Torsdag</p>
          <p>09:00-15:30</p>
        </div>
        <div>
          <p>Fredag</p>
          <p>09:00-14:00</p>
        </div>
        <div class="flex test">
          <Phone width="24" height="24" color="white" />
          <p>70 60 53 32</p>
        </div>
        <div class="flex test">
          <Envelope width="24" height="24" color="white" />
          <p>info@opdagdanmark.dk</p>
        </div>
      </div>
    </article>
  </section>

  <section class="foot-newsletter-section">
    <article class="foot-newsletter">
      <h2>Nyhedsbrev</h2>
      <p>
        Få vores gratis nyhedsbrev med inspiration til nye oplevelser i Danmark,
        afstemninger med Danmarks Bedste og meget mere.
      </p>
      <p>
        Det er 100% spamfrit og du kan til enhver tid afmelde direkte i
        nyhedsbrevet.
      </p>
    </article>
    <article class="foot-signup">
      <search>
        <form>
          <input name="search" placeholder="email@email.com" />
        </form>
      </search>
      <button>TILMELD</button>
    </article>
  </section>

  <section class="foot-copyright-section">
    <article>
      <p>© OpdagDanmark, 2025 | Built with {Astro.generator}</p>
    </article>
    <article>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
    </article>
  </section>
</footer>

<style>
  /* ------General------ */
  footer {
    background-color: var(--primary-600);
    border-radius: var(--round-general);
    padding: 2rem;
    text-align: center;
  }

  p,
  h2,
  a {
    color: white;
  }

  #foot-logo {
    width: 300px;
  }

  section:not(:last-of-type) {
    border-bottom: 1px solid var(--primary-400);
  }

  /* ------Top section------ */
  a {
    text-decoration: none;
    border-bottom: 1px solid white;
  }

  .foot-top-section .foot-adress {
    margin-top: 5px;
    margin-bottom: 8px;
  }

  .foot-top-section .foot-links-container {
    margin: 0 auto;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    a {
      margin-block: 7px;
    }

    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  .foot-contact {
    div {
      margin-bottom: 7px;
    }

    p {
      margin: 6px;
    }
  }

  .foot-contact div:nth-of-type(1) p,
  .foot-contact div:nth-of-type(2) p {
    margin-block: 3px;
  }

  /* ------Newsletter section------ */
  .foot-newsletter-section .foot-newsletter {
    max-width: 500px;
    margin: 0 auto;
    h2 {
      margin-block: 10px;
    }
  }

  .foot-newsletter-section article.foot-newsletter > p:nth-child(3) {
    margin-block: 15px;
  }

  .foot-newsletter-section .foot-signup {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    form {
      display: flex;
      gap: 10px;
    }

    input {
      padding: 7px 20px;
      text-align: left;
      border-radius: 6px;
      border: 1px solid var(--primary-400);
      background-color: var(--greyscale-100-t3);
      color: white;
      font-size: 1rem;
      outline: none;
    }

    button {
      padding: 7px 16px;
      background: var(--secondary-600);
      color: white;
      border: none;
      border-radius: var(--round-min);
      margin-left: 10px;
    }
  }

  .foot-signup input::placeholder {
    color: var(--primary-400);
  }

  .test {
    flex-direction: row !important;
    align-items: center;
  }

  .foot-copyright-section p {
    margin-top: 20px;
  }

  /* ------MEDIA QUERIES------ */
  @media screen and (min-width: 400px) {
    .foot-links-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      max-width: 440px;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 1000px) {
    footer {
      text-align: left;
    }

    section {
      display: flex;
      justify-content: space-between;
      padding-block: 10px;
    }

    /* ------Top section------ */
    .foot-top-section .foot-links-container {
      justify-content: space-between;
      display: flex;
      margin: 0;
      text-align: left;
      max-width: 650px;

      div {
        align-items: flex-start;
      }
    }

    .foot-top-section .foot-contact p {
      margin: 0;
    }

    /* ------Newsletter section------ */
    .foot-newsletter-section {
      align-items: center;
      padding-block: 20px;

      h2 {
        margin-bottom: 10px;
      }
    }

    .foot-newsletter-section .foot-newsletter {
      width: 600px;
      margin: 0;
    }

    .foot-newsletter-section .foot-signup {
      margin-bottom: 0px;

      input {
        padding: 7px 16px;
      }

      button {
        padding: 7px 16px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    #foot-logo {
      width: 400px;
    }
  }
</style>
