---

---

<section>
  <h2>Din Guide til Danmark</h2>
  <p>
    Med OpdagDanmarks app har du altid inspiration, kort og guides lige ved
    hånden
  </p>

  <p>Hent appen gratis i App Store eller Google Play.</p>
  <a href="#">HENT APPEN</a>
</section>

<style>
  section {
    background: var(--accent-300);
    height: 25rem;
    flex-direction: column;
    padding: 3rem 4rem;
    border-radius: var(--round-general);

    h2 {
      font-size: 3rem;
    }
  }
</style>
