---
import { Image } from "astro:assets";
import BurgerMenu from "../navigation/BurgerMenu.vue";
import ButtonFunction from "../modules/ButtonFunction.vue";
import opdagDanmarkLogo from "../../assets/opdagDanmarkLogo.png";

import User from "phosphor-astro/User.astro";
import Basket from "phosphor-astro/Basket.astro";
import MagnifyingGlass from "phosphor-astro/MagnifyingGlass.astro";
import DropdownPoint from "../navigation/DropdownPoint.vue";
import MegaMenu from "../navigation/MegaMenu.vue";

const href = "/produkter/";
---

<header class="flex">
  <nav class="flex">
    <a class="nav-logo nav-left" href={import.meta.env.BASE_URL}>
      <Image
        class="nav-logo-img flex"
        src={opdagDanmarkLogo}
        alt=""
        format="webp"
        loading="lazy"
      />
    </a>

    <!-- desktop nav -->
    <ul class="nav-centre nav-desktop">
      <li class="nav-centre-link">
        <!-- partial hydration, astro sender js med til browser -->
        <DropdownPoint
          client:load
          label="Gå på opdagelse"
          slotName="GaaPaaOpdagelse"
        />
      </li>
      <li class="nav-centre-link">
        <!-- partial hydration, astro sender js med til browser -->
        <DropdownPoint
          client:load
          label="Danmarks bedste"
          slotName="DanmarksBedste"
        />
      </li>
      <li class="nav-centre-link">
        <!-- partial hydration, astro sender js med til browser -->
        <DropdownPoint
          client:load
          label="Planlæg din tur"
          slotName="PlanlaegDinTur"
        />
      </li>
      <li class="nav-centre-link">
        <a class="nav-link" href={href}>Shop</a>
      </li>
      <li class="nav-centre-link"><a class="nav-link" href="#">Om os</a></li>
      <button class="nav-mobile-btn flex">
        <MagnifyingGlass width="16" height="16" />
      </button>
    </ul>

    <div class="nav-right nav-desktop flex">
      <ButtonFunction client:load />
      <a class="nav-mobile-btn flex" href="#">
        <User width="16" height="16" />
      </a>
      <a class="nav-mobile-btn flex" href="#">
        <Basket width="16" height="16" />
      </a>
    </div>

    <!-- mobile menu -->
    <BurgerMenu client:load />
  </nav>
  <MegaMenu client:media="(min-width: 1200px)" />
</header>

<style>
  header {
    width: min(95vw, 1200px);
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    flex-direction: column;
    gap: 0.5rem;
  }

  nav {
    box-shadow: var(--shadow-general);
    background: var(--primary-100-t1);
    position: relative;
    padding: 0.375rem 0.75rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-500-t2);
    border-radius: var(--round-pill);
    backdrop-filter: blur(4px);
  }

  .nav-logo {
    img {
      width: 160px;
      height: auto;
    }
  }

  .nav-desktop {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    header {
      padding: 1.5rem 0;
    }

    .nav-desktop {
      display: flex;
      padding: 0;
    }

    .nav-centre {
      list-style-type: none;
      gap: 0.5rem;
      align-items: center;

      .nav-centre-link {
        transition: all 150ms ease-in-out;

        &:hover {
          transform: scale(1.03);
        }
      }

      .nav-link {
        cursor: pointer;
        text-decoration: none;
        align-items: center;
        padding: 0.25rem 0.6rem;
        color: var(--primary-700);
        border-radius: var(--round-25);
        border: 1px solid hsla(0, 0%, 100%, 0);
        font-size: 0.875rem;
        font-weight: 500;
        &:hover {
          border: 1px solid var(--greyscale-100);
          background: var(--greyscale-100-t2);
          color: var(--accent-500);
          svg {
            color: var(--accent-500);
          }
        }
      }
    }

    .nav-right {
      align-items: center;
      gap: 0.5rem;
    }

    svg {
      color: var(--primary-600);
    }

    .nav-mobile-btn {
      cursor: pointer;
      transition: all 200ms ease-in-out;
      &:hover {
        transform: scale(1.1);
        border-color: var(--greyscale-100);
        background: var(--greyscale-100-t2);
        svg {
          color: var(--accent-500);
        }
      }
    }
  }
</style>
