---
import BurgerMenu from "../modules/BurgerMenu.vue";
---

<header>
  <nav class="flex">
    <a class="nav-logo nav-left" href="/"
      ><img class="nav-logo-img flex" src="/opdagDanmarkLogo.png" alt="" /></a
    >

    <!-- desktop nav -->
    <ul class="nav-centre nav-desktop flex">
      <li><a href="/artikler">Gå på opdagelse</a></li>
      <li><a href="#">Danmarks bedste</a></li>
      <li><a href="/company">Planlæg din tur</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="#">Om os</a></li>
      <button>search</button>
    </ul>

    <div class="nav-right nav-desktop">
      <button>Hent appen <span>download icon</span></button>
      <a href="#">profile</a>
      <a href="#">basket</a>
    </div>

    <!-- mobile menu -->
    <BurgerMenu client:load />
  </nav>
</header>

<style>
  header {
    padding: 0.5rem;
  }
  nav {
    background: var(--greyscale-100);
    position: relative;
    padding: 0.375rem 0.75rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-500-t2);
    border-radius: var(--round-pill);
  }

  .nav-logo {
    img {
      width: 10rem;
      height: auto;
    }
  }

  .nav-desktop {
    display: none;
  }

  @media screen and (min-width: 700px) {
    .nav-desktop {
      display: block;
    }
  }
</style>
