---

---

<section>
  <h2>Få overblik gennem oplevelseskortet</h2>
  <p>
    OpdagDanmarks oplevelseskort samler alle de bedste områder, aktiviteter og
    begivenheder i ét sted. Find den online eller i vores app!
  </p>
  <a href="#">Åbn kortet</a>
  <a href="#">hent appen</a>
</section>

<style>
  section {
    background: var(--primary-400);
    height: 15rem;
    flex-direction: column;
    padding: 1.5rem 2.5rem;
    border-radius: var(--round-general);

    h2 {
      font-size: 3rem;
    }
  }
</style>
