---
import ArrowRight from "phosphor-astro/ArrowRight.astro";
---

<section class="selected-articles-section flex">
  <div class="selected-articles-section-content">
    <div class="selected-articles-header flex">
      <h2>Udvalgte Artikler</h2>
      <a class="flex" href="#"
        >Se alle artikler <ArrowRight width={16} height={16} /></a
      >
    </div>
  </div>
  <div class="articles-grid">
    <a href="/artikler/blokhus" class="article-card-link">
      <article class="article-card flex">
        <img class="article-card-image" src="/blokhusStrand.webp" alt="" />
        <div class="article-card-overlay"></div>
        <div class="article-card-content">
          <h2>KlubDanmark</h2>
          <h3>
            Få adgang til eksklusive fordele og spar penge på 500+ oplevelser i
            hele Danmark. Medlemskab giver dig også adgang til 450+ digitale
            cykel- og vandreruter.
          </h3>
        </div>
      </article>
    </a>
  </div>
</section>

<style>
  .selected-articles-section {
    flex-direction: column;
    gap: 1.5rem;
  }
  .selected-articles-header {
    justify-content: space-between;
    align-items: end;
    a {
      text-decoration: none;
      color: var(--primary-500);
      align-items: center;
      gap: 0.25rem;
      font-size: 1rem;
      &:hover {
        color: var(--accent-500);
      }
    }
    h2 {
      color: var(--primary-700);
      font-size: 2.5rem;
    }
  }

  .selected-articles-section-products {
    justify-content: space-between;
  }

  .article-card-link {
    text-decoration: none;
    border-radius: var(--round-min);
    transition: all 200ms ease-in-out;
    outline: 1px solid var(--greyscale-100);
    &:hover {
      outline: 1px solid var(--secondary-500);
      outline-offset: 0.5rem;
      transform: scale(0.99);
      box-shadow: rgba(31, 30, 61, 0.13) 0px 2px 8px 0px;
    }
  }
  .article-card {
    text-align: end;
    align-items: end;
    position: relative;
    overflow: hidden;
    padding: 2rem 2.5rem;
    border: 1px solid var(--secondary-500);
    background: var(--primary-400);
    height: 16rem;
    flex-direction: column;
    border-radius: var(--round-general);

    color: var(--greyscale-100);

    h2 {
      font-size: 4rem;
    }
  }

  .article-card-image,
  .article-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .article-card-overlay {
    backdrop-filter: blur(1px);
    background: var(--utility-gradient-blue-left);
    z-index: 1;
  }

  .article-card-buttons {
    gap: 0.5rem;
  }

  .article-card-buttons,
  .article-card-content {
    z-index: 2;
  }

  .article-card-content {
    h3 {
      font-size: 1.2rem;
      padding: 0.25rem 0 0;
      width: 40ch;
      font-weight: 400;
      line-height: 100%;
    }
  }
</style>
