---
import CTANyhedsbrev from "../navigation/CTANyhedsbrev.astro";
import CTAKlubDanmark from "./EntryPointMegaMenu.vue";
import CTAHentAppen from "../navigation/CTAHentAppen.astro";
---

<section class="mega-menu-cta-list">
  <CTANyhedsbrev />
  <CTAKlubDanmark />
  <CTAHentAppen />
</section>
