---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Map from "../components/layout/Map.astro";
import GuideToDenmark from "../components/layout/GuideToDenmark.astro";
import ForsideHero from "../components/layout/ForsideHero.astro";
import AboutUs from "../components/layout/AboutUs.astro";
import PopularInShop from "../components/layout/PopularInShop.astro";
import SelectedArticles from "../components/layout/SelectedArticles.astro";
import RecommendedPlaces from "../components/layout/RecommendedPlaces.astro";
// import gemt til senere udvikling
// import DanmarksBedsteSection from "../components/layout/DanmarksBedsteSection.astro";

// eksempel på import af ikoner til vue
// import { PhEnvelope } from "@phosphor-icons/vue";

// eksempel på import af ikoner til astro
// import Envelope from "phosphor-astro/Envelope.astro";
---

<Layout title="OpdagDanmark">
  <ForsideHero />
  
  <!-- <section>
    <FocusEntryPoint />
  </section> -->
  
  <AboutUs />
  <RecommendedPlaces />

  <GuideToDenmark />
  <!-- komponent gemt til senere udvikling -->
  <!-- <DanmarksBedsteSection/> -->
  <SelectedArticles />
  <Map />
  <PopularInShop />
</Layout>
