---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

import { PhEnvelope } from "@phosphor-icons/vue";
import Envelope from 'phosphor-astro/Envelope.astro';
---

<Layout title="test">
  <!-- <p>
    i think i am a slot, but dont tell anyone. shhh
    <PhEnvelope :size=32 color="red"/>
    <Envelope :size=32 color="red"/>
  </p> -->
  I live in the slot
</Layout>
