---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import ProductImageGallery from "../components/modules/ProductImageGallery.vue";
import Breadcrumb from "../components/modules/Breadcrumb.astro";
import Tabs from "../components/modules/Tabs.vue";

import Bike from "phosphor-astro/PersonSimpleBike.astro";
import Dog from "phosphor-astro/Dog.astro";
import Walking from "phosphor-astro/PersonSimpleWalk.astro";
import Heart from "phosphor-astro/Heart.astro";

const tagColor = "var(--secondary-500)";
const tagBgColor = "var(--secondary-200)";
const tag = "Restaurantoplevelse";
const aboutText = [
  "Tag på en smuk cykel- og vandretur på 11,7 km i landskabet omkring Silkeborg. Ruten er moderat udfordrende og tager cirka 2 timer og 40 minutter at gennemføre. Du deler stien med andre vandrere, cyklister og løbere – området er populært året rundt og smukt i alle sæsoner.",
  "Tag på en smuk cykel- og vandretur på 11,7 km i landskabet omkring Silkeborg. Ruten er moderat udfordrende og tager cirka 2 timer og 40 minutter at gennemføre. Du deler stien med andre vandrere, cyklister og løbere – området er populært året rundt og smukt i alle sæsoner.",
  "<br>",
  "Hunde er velkomne, men skal holdes i snor. Turen går gennem Silkeborg og forbi de klare Silkeborgsøer som Almind Sø, Brassø, Vejlsø, Ørnesø, Langsø og Kalgårdsø – perfekte til et sommerdyp. Du kommer også forbi Gudenåen, Danmarks længste å.",
];
---

<Layout title="Styling af produkt">
  <Breadcrumb />
  <section class="product-section">
    <ProductImageGallery client:load />

    <article class="product-info-container">
      <div class="product-tags-container flex">
        <div
          class="product-tag"
          style={{
            backgroundColor: tagBgColor,
            border: `1px solid ${tagColor}`,
          }}
        >
          <p
            style={{
              color: tagColor,
            }}
          >
            {tag}
          </p>
        </div>
        <div class="product-categories">
          <span title="t_cycling" class="product-category-icon">
            <Bike width="24" height="24" color="var(--secondary-500)" />
          </span>
          <span title="t_dog_leashed" class="product-category-icon">
            <Dog width="24" height="24" color="var(--secondary-500)" />
          </span>
          <span title="t_walking" class="product-category-icon">
            <Walking width="24" height="24" color="var(--secondary-500)" />
          </span>
          <span title="t_love" class="product-category-icon">
            <Heart width="24" height="24" color="var(--secondary-500)" />
          </span>
        </div>
      </div>
      <h1>Produkt</h1>
      <p class="product-brand">Brand</p>
      <article class="highlights flex">
        <div>
          <h3>16</h3>
          <p>Historier</p>
        </div>
        <div>
          <h3>16</h3>
          <p>Stops</p>
        </div>
        <div>
          <h3>12 Km</h3>
          <p>Længde</p>
        </div>
        <div>
          <h3>2 T. 40 m.</h3>
          <p>Varighed</p>
        </div>
      </article>

      <div>
        <Tabs
          client:load
          about={aboutText}
          access="Efter køb modtager du en flot PDF, som du selv kan scanne for at få adgang, eller give til en, du holder af, så de kan modtage turen som gave"
          terms="Gyldig i 365 dage fra købsdato: Adgang til kort og fortællinger i 365 dage, så du kan gå turen alle de gange, du vil med venner og familie."
        />
      </div>
      <div class="product-buying-container">
        <div class="product-prices">
          <p class="old">75 kr.</p>
          <p class="current">45 Kr.</p>
        </div>
        <div class="product-btns flex">
          <div class="product-counter flex">
            <button class="plus">−</button>
            <input type="number" value="1" min="1" />
            <button class="minus">+</button>
          </div>
          <button class="cart">Tilføj til kurv</button>
          <button class="heart flex"
            ><Heart width="24" height="24" color="var(--primary-500)" /></button
          >
        </div>
      </div>
    </article>
  </section>
</Layout>

<style>
  .product-tag {
    padding: 0.42rem 0.6rem;
    border-radius: var(--round-pill);
  }
  .product-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
  }

  .product-counter {
    align-items: center;

    button {
      cursor: pointer;
      color: var(--primary-500);
      padding: 0 0.75rem;
      height: 38px;
      font-size: 1rem;
      background-color: var(--greyscale-100);
      border: 1px solid var(--primary-500);
      transition: transform 100ms ease-in-out;
      &:active {
        transform: scale(0.97);
      }
    }

    .plus {
      border-top-left-radius: var(--round-min);
      border-bottom-left-radius: var(--round-min);
    }
    .minus {
      border-top-right-radius: var(--round-min);
      border-bottom-right-radius: var(--round-min);
    }

    input {
      color: var(--primary-700);
      width: 3rem;
      height: 38px;
      text-align: center;
      margin: 0 -1px;
      border: 1px solid var(--primary-500);
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  .product-prices {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    .old {
      font-size: 0.8rem;
      color: grey;
      text-decoration-line: line-through;
    }

    .current {
      margin-top: 7px;
      font-size: 2rem;
    }
  }

  .cart {
    flex: 1;
    background-color: var(--secondary-500);
    border: 1px solid transparent;
    color: var(--secondary-200);
    height: 38px;
    border-radius: var(--round-min);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    outline: 1px solid transparent;

    &:hover {
      outline-color: var(--accent-500);
      outline-offset: 0.2rem;
      transform: scale(0.97);
      border-color: var(--accent-500);
      background: var(--accent-500);
      color: var(--accent-100);
    }
  }

  .heart {
    background-color: var(--primary-400-t2);
    border: solid 1px var(--primary-500);
    border-radius: var(--round-min);
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: transform 100ms ease-in-out;

    &:active {
      transform: scale(0.97);
    }
  }

  .product-btns {
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
  }

  .product-tags-container {
    gap: 0.25rem;
    align-items: center;
  }

  .product-category {
    margin-right: 50px;
  }

  .product-category-icon {
    background-color: var(--secondary-200-t2);
    border-radius: var(--round-50);
    padding: 0.25rem;
    display: inline-flex;
    border: 1px solid var(--secondary-500);
  }

  h1 {
    color: var(--primary-700);
    font-size: var(--font-size-700);
    font-weight: var(--text-700);
  }

  .product-brand {
    color: var(--primary-500);
    font-weight: var(--text-400);
    margin-bottom: 20px;
  }

  .highlights {
    justify-content: space-between;
    gap: .25rem 1rem;
    flex-wrap: wrap;
    min-width: fit-content; /*tror ikke den gør noget, men lader den være for sikkerhedsskyld*/

    div {
      flex: 1;
      padding: 10px;
      width: max-content;
      text-align: center;
      background-color: var(--primary-400-t2);
      color: var(--primary-600);
      border: 1px solid var(--primary-600);
      border-radius: var(--round-general);
      margin-bottom: 15px;

      h3 {
        text-transform: capitalize;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .product-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 3rem;
      height: fit-content;
    }
  }
</style>
