---
import { Image } from "astro:assets";
import "../../styles/global.css";
import "../../styles/menu.css";
import Layout from "../../layouts/Layout.astro";

import ActionButton from "../../components/modules/ActionButton.vue";
import Breadcrumb from "../../components/modules/Breadcrumb.astro";
import EventCard from "../../components/elements/EventCard.astro";
import AttractionCard from "../../components/elements/AttractionCard.astro";
import PlacesSection from "../../components/layout/PlacesSection.astro";

import moterMille from "../../assets/faarupImg/moterMille.webp";
import bedsteforaeldreDag from "../../assets/faarupImg/bedsteforaeldreDag.webp";
import rekorddag from "../../assets/faarupImg/rekorddag.jpg";
import hrSkaeg from "../../assets/faarupImg/hrSkaeg.jpg";

import imgMine from "../../assets/faarupImg/forlystelser/mineexpressen.webp";
import imgFlage from "../../assets/faarupImg/forlystelser/flagermusen.webp";
import imgTræst from "../../assets/faarupImg/forlystelser/trestammer.webp";
import imgOrkan from "../../assets/faarupImg/forlystelser/orkanen.webp";
import imgFønix from "../../assets/faarupImg/forlystelser/foenix.webp";
import imgFalke from "../../assets/faarupImg/forlystelser/falken.webp";
import imgLynet from "../../assets/faarupImg/forlystelser/lynetGroen.webp";
import imgSaven from "../../assets/faarupImg/forlystelser/saven.webp";

const customFaarup = [
  {
    index: 0,
    text: "Fårup Sommerland",
  },
];

const events = [
  { image: moterMille.src, date: "31 Maj", title: "Motor mille" },
  {
    image: bedsteforaeldreDag.src,
    date: "10 Oktober",
    title: "Bedsteforældredag",
  },
  { image: rekorddag.src, date: "27 August", title: "Fårups store rekorddag" },
  { image: hrSkaeg.src, date: "23 August", title: "Hr. Skæg" },
];

const forlystelser = [
  {
    image: imgMine.src,
    title: "Mine-ekspressen",
    text: "En rutjebanetur rundt i bratte sving mellom træer",
  },
  {
    image: imgFlage.src,
    title: "Flagermusen",
    text: "En rutjebanetur rundt i bratte sving mellom træer",
  },
  {
    image: imgTræst.src,
    title: "Træstammer",
    text: "En rutjebanetur rundt i bratte sving mellom træer",
  },
  {
    image: imgOrkan.src,
    title: "Orkanen",
    text: "En rutjebanetur rundt i bratte sving mellom træer",
  },
  {
    image: imgFønix.src,
    title: "Fønix",
    text: "En rutjebanetur rundt i bratte sving mellom træer",
  },
  {
    image: imgFalke.src,
    title: "Falken",
    text: "En rutjebanetur rundt i bratte sving mellom træer",
  },
  {
    image: imgLynet.src,
    title: "Lynet",
    text: "En rutjebanetur rundt i bratte sving mellom træer",
  },
  {
    image: imgSaven.src,
    title: "Saven",
    text: "En rutjebanetur rundt i bratte sving mellom træer",
  },
];

import imgHero from "../../assets/faarupImg/hero.webp";
import imgMap from "../../assets/faarupImg/interaktivt-kort.jpeg";
---

<Layout title="Fårup Sommerland">
  <Breadcrumb customizeLinks={customFaarup} />

  <section class="map-section flex">
    <Image
      class="map-section-image"
      src={imgHero}
      alt=""
      widths={[400, 800, 1200]}
      format="webp"
      loading="lazy"
    />
    <div class="map-section-overlay"></div>
    <div class="map-section-content">
      <h1>Fårup Sommerland</h1>
      <h2>De største oplevelser er dem vi har sammen</h2>
    </div>
    <div class="map-section-buttons flex">
      <ActionButton
        label="Besøg Hjemmesiden"
        iconType="external"
        variant="outline"
      />
      <ActionButton label="Køb billet" iconType="external" />
    </div>
  </section>

  <section class="faarup-intro">
    <h2>Sjov, fart og leg midt i skoven</h2>
    <p>
      Fårup Sommerland er ikke bare Nordjyllands største attraktion. Parken er
      også en af Danmarks mest besøgte attraktioner (iflg. VisitDenmarks
      opgørelser) og en endnu bedre grund til at besøge parken helt ude i
      skoven: Parken er kåret som Europas Bedste Forlystelsespark i både 2021 og
      2022!
    </p>
    <p>Hertil vandt Fønix i 2022 prisen som Europas Bedste Forlystelse.</p>
  </section>

  <section class="faarup-events-section">
    <h2>Kommende events</h2>
    <div class="faarup-events">
      {events.map((event) => <EventCard {...event} />)}
    </div>
  </section>

  <section class="faarup-attraction-section">
    <h2>Udvalgte forlystelser</h2>
    <div class="faarup-attractions">
      {forlystelser.map((forlystelse) => <AttractionCard {...forlystelse} />)}
    </div>
  </section>

  <section class="faarup-map-section">
    <h2>Interaktivt kort over fårup sommerland</h2>
    <p>
      Få overblikket over parkens forlystelser med vores interaktive oversigt
      (klik på billedet for at åbne)
    </p>
    <Image
      src={imgMap}
      alt=""
      widths={[400, 800, 1200]}
      format="webp"
      loading="lazy"
    />
  </section>
  <PlacesSection />
</Layout>

<style>
  .faarup-intro {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  p {
    color: var(--primary-700);
  }

  h2 {
    margin-bottom: 15px;
    font-weight: var(--text-500);
  }

  h2:not(.map-section-content h2) {
    color: var(--primary-700);
    font-size: 2rem;
  }

  .map-section-content h2 {
    font-family: "Athiti", sans-serif;
    font-size: var(--font-size-600);
    font-weight: 300;
    max-width: 300px;
  }

  p {
    margin-bottom: 10px;
    font-size: var(--font-size-500);
  }

  .map-section {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2.5rem;
    border: 1px solid var(--primary-500);
    justify-content: space-between;
    background: var(--primary-400);
    height: 18rem;
    flex-direction: column;
    border-radius: var(--round-general);

    color: var(--greyscale-100);

    h1 {
      font-size: 3rem;
    }
  }

  .map-section-image,
  .map-section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .map-section-image {
    object-position: 20% 20%;
  }

  .map-section-overlay {
    background: var(--utility-gradient-blue-right);
    z-index: 1;
  }

  .map-section-buttons {
    gap: 0.5rem;
  }

  .map-section-buttons,
  .map-section-content {
    z-index: 2;
  }

  .map-section-content {
    h2 {
      font-size: 1.2rem;
      padding: 0.25rem 0 0;
      width: 60ch;
      font-weight: 400;
      line-height: 100%;
    }
  }

  .faarup-map-section {
    img {
      width: 100%;
      border-radius: var(--round-general);
      transition: all 200ms ease-in-out;
      cursor: pointer;
      outline: 1px solid transparent;

      &:hover {
        transform: scale(0.98);
        outline: 1px solid var(--accent-500);
        outline-offset: 0.25rem;
      }
    }
  }

  /* ------MEDIA QUERIES------ */
  @media screen and (min-width: 700px) {
    .faarup-events,
    .faarup-attractions {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    h2 {
      font-size: var(--font-size-600);
    }

    .faarup-map-section {
      img {
        height: 400px;
        object-fit: cover;
        position: center;
      }
    }
  }
</style>
