---

---

<section>
  <h2>Din Guide til Danmark</h2>
  <p>
    Med OpdagDanmarks app har du altid inspiration, kort og guides lige ved
    hånden
  </p>

  <p>Hent appen gratis i App Store eller Google Play.</p>
  <a href="#">HENT APPEN</a>
</section>
