---

---

<header>
  <nav>
    <a href=""><img src="" alt="" /></a>
    <ul>
      <li>
        <a href="../pages/artikler/index.astro">Gå på opdagelse</a>
        <ul>
          <li><a href="../pages/artikler/[slug].astro">Enkelt artikel</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Danmarks bedste</a>
      </li>
      <li>
        <a href="../pages/company.astro">Planlæg din tur</a>
      </li>
      <li>
        <a href="../pages/shop.astro">Shop</a>
        <ul>
          <li><a href="../pages/produkter/index.astro">Produkter</a></li>
          <li><a href="../pages/produkter/[slug].astro">Enkelt Produkt</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Om os</a>
      </li>
    </ul>
  </nav>
</header>
