---
import Place from "../components/Place.astro";
---

<section>
  <h2>Anbefalede Steder</h2>
  <p>
    Har du lyst til et eller andet? Så kan vi stærkt anbefale de her
    steder/partnere. Find deres profil og læs om dem eller noget
  </p>
  <a href="">Se alle profiler</a>
  <Place />
</section>
