---
const { title, text, image } = Astro.props;
---

<a class="attraction-link" href="#">
  <article class="attraction-card">
    <img src={image} alt={title} />
    <h3>{title}</h3>
    <p>{text}</p>
  </article>
</a>

<style>
  .attraction-link {
    transition: transform 0.2s ease;
    text-decoration: none;
    color: var(--primary-700);
    &:hover {
      transform: scale(1.02);
    }
    p {
      font-size: var(--font-size-400);
    }

    h3 {
      font-family: "Athiti", serif;
      font-weight: var(--text-500);
      font-size: var(--font-size-600);
    }

    img {
      border-radius: var(--round-min);
      height: 300px;
      width: 100%;
      object-fit: cover;
    }

    .attraction-card {
      margin-bottom: 30px;
    }
  }

  /* ------MEDIA QUERIES------ */
  @media screen and (min-width: 700px) {
    .attraction-card {
      max-width: 280px;
      img {
        height: 200px;
      }
    }

  }
</style>
