---
const { title, text, image } = Astro.props;
---

<a href="#">
  <article>
    <img src={image} alt={title} />
    <h3>{title}</h3>
    <p>{text}</p>
  </article>
</a>

<style>
  a:hover {
    transform: scale(1.02);
  }

  a {
    transition: transform 0.2s ease;
  }

  p {
    font-size: var(--font-size-400);
  }

  a {
    text-decoration: none;
    color: var(--primary-700);
  }

  h3 {
    font-family: "Athiti", serif;
    font-weight: var(--text-500);
    font-size: var(--font-size-600);
  }

  img {
    border-radius: var(--round-general);
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  article {
    margin-bottom: 30px;
  }

  /* ------MEDIA QUERIES------ */
  @media screen and (min-width: 700px) {
    article {
      max-width: 280px;
    }

    img {
      height: 200px;
    }
  }
</style>
