---
import { Image } from "astro:assets";
const { heading = "", subheading = "", src = "", href = "#" } = Astro.props;
const altText =
  typeof src === "string"
    ? src.split("/").pop()?.split(".")[0]?.replace(/[-_]/g, " ")
    : "";
---

<a href={href} class="place-card-link">
  <article class="place-card flex">
    <Image
      class="place-card-image"
      src={src}
      alt={altText ?? ""}
      widths={[400, 800, 1200]}
      format="webp"
      loading="lazy"
    />

    <div class="place-card-overlay"></div>
    <div class="place-card-content-container flex">
      <div class="place-card-content">
        <h2>{heading}</h2>
        <h3>{subheading}</h3>
      </div>
      <button class="place-button">Læs mere</button>
    </div>
  </article>
</a>

<style>
  .place-button {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    font-family: "Krub", sans-serif;
    border-radius: var(--round-pill);
    border: 1px solid var(--secondary-400);
    font-size: 0.75rem;
    background: var(--secondary-400-t3);
    backdrop-filter: blur(4px);
    color: var(--secondary-200);
    transition: all 200ms ease-in-out;
  }

  .place-card-content-container {
    width: 100%;
    align-items: end;
    justify-content: space-between;
  }

  .place-card-link {
    height: auto;
    width: 100%;
    text-decoration: none;
    border-radius: var(--round-min);
    outline: 1px solid var(--greyscale-100);
    transition: all 200ms ease-in-out;
    outline: 1px solid var(--secondary-500);
    outline-offset: 0.5rem;

    &:hover {
      outline: 1px solid var(--accent-500);
      outline-offset: 0.4rem;
      transform: scale(0.98);
      box-shadow: rgba(31, 30, 61, 0.13) 0px 2px 8px 0px;
      .place-card {
        border-color: var(--accent-500);
      }
      .place-button {
        color: var(--primary-100);
        border-color: var(--primary-400);
        background: var(--primary-500-t2);
      }
    }
  }

  .place-card {
    position: relative;
    overflow: hidden;
    border-radius: var(--round-general);
    border: 1px solid var(--secondary-500);
    height: 10rem;
    background: var(--primary-400);
    color: var(--greyscale-100);

    align-items: end;
    padding: 1rem 0.75rem;

    h2 {
      font-size: 1rem;
      text-transform: capitalize;
    }
  }

  .place-card-image,
  .place-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .place-card-overlay {
    backdrop-filter: blur(1px);
    background: var(--utility-gradient-blue-top);
    z-index: 1;
  }

  .place-card-content,
  .place-button {
    z-index: 2;
  }

  .place-card-content {
    width: 20ch;
    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1rem;
      padding: 0.25rem 0 0;
      font-weight: 400;
      line-height: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    .place-card {
      height: 15em;
      padding: 1rem;

      h2 {
        font-size: 1.8rem;
      }

      .place-card-content {
        width: 20ch;
        h3 {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1rem;
          padding: 0.25rem 0 0;
          font-weight: 400;
          line-height: 100%;
        }
      }
    }
  }
</style>
